@charset "utf-8";
/**
 * @author Matthias Reischer
 * Sample File CSS
 */

body {
    background-color: #ddd;
    color: #222;
    font-family: Helvetica, serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

#header h1 {
    margin: 0;
    padding: 0;
}

#header h1 a {
    background-color:#ccc;
    border-bottom: 1px solid #666;
    color: #222;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}

#menu ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}

#menu ul li a{
    background-color:#FFF;
    border: 1px solid #999;
    color: #222;
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: -1px;
    padding: 12px 10px;
    text-decoration: none;
}

#menu ul li:first-child a {
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
}

#menu ul li:last-child a {
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
}

#content, #sidebar {
    padding: 12px;
}

.buttonBlack {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 4px 10px;
    -webkit-border-radius: 5px;
    background-image: -webkit-gradient(linear, left top, left bottom,
    from(#7d828c),
    color-stop(0.5, #303749),
    color-stop(0.5, #121a2e),
    to(#121a2e));
    border: solid 1px rgba(79, 79, 79, 0.75);
}

.buttonBlack:hover {
    background-image: -webkit-gradient(linear, left top, left bottom,
    from(#4286f5),
    color-stop(0.5, #4286f5),
    color-stop(0.5, #194fdb),
    to(#194fdb));
}
